/* style.css */
html, body {
    height: 100%; /* Цял екран */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(32, 32, 32, 0.8); /* Леко прозрачен фон */
}

main {
    height: 80vh; /* Целият екран */
    background-image: url('rest.jpg'); /* Замени с пътя към изображението ти */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Хоризонтално центриране */
    align-items: center; /* Вертикално центриране */
}

main .content {
    text-align: center;
    /* Премахваме прозрачния фон */
    padding: 20px;
    border-radius: 10px; /* Може да се премахне, ако не искаш заоблени краища */

}

main p {
    font-size: 24px;
    margin-bottom: 20px; /* Разстояние между текста и бутона */
    color: #fff; /* Променяме цвета на текста, за да се вижда на фона */
}

button.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:  rgba(32, 32, 32, 0.8); /* Леко прозрачен фон */
}
